.modal-title-heading{
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}
@media (min-width: 767px) {
    .modal-title-heading {
      font-size: 1.25rem;
    }
}
.sub-text {
    text-align: center;
    color: grey;
    font-weight: 400;
    font-size: 0.725rem;
}
@media (min-width: 767px) {
    .sub-text  {
        font-size: 1rem;
    }
}